:root {
  // Colors
  --black: #000000;
  --white: #ffffff;
  --blue: #3663f6;
  --yellow: #ffff54;
  --red: #ea3423;
  --green: #75fb4c;
  --orange: #f19e39;

  // Font Weights
  --fw-regular: 400;
  --fw-bold: 700;
}
